{% extends 'base.html' %}
{% load static %}

{% block title %}Shop{% endblock %}

{% block body %}

<div class="shop-category-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="shop-top-bar d-flex">
                    <p class="compare-product"><span>{{ all_product|length }}</span> Products Found</p>
                    <div class="shop-tab nav">
                        <button class="active" data-bs-target="#shop-grid" data-bs-toggle="tab"><i class="fa fa-th"></i></button>
                        <button data-bs-target="#shop-list" data-bs-toggle="tab"><i class="fa fa-list"></i></button>
                    </div>
                    <div class="select-shoing-wrap d-flex align-items-center">
                        <div class="shot-product"><p>Sort By:</p></div>
                        <div class="header-bottom-set dropdown">
                            <button class="dropdown-toggle header-action-btn" data-bs-toggle="dropdown">Default <i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="dropdown-item" href="#">Name, A to Z</a></li>
                                <li><a class="dropdown-item" href="#">Name, Z to A</a></li>
                                <li><a class="dropdown-item" href="#">Price, low to high</a></li>
                                <li><a class="dropdown-item" href="#">Price, high to low</a></li>
                                <li><a class="dropdown-item" href="#">Sort By new</a></li>
                                <li><a class="dropdown-item" href="#">Sort By old</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="shop-bottom-area">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="shop-grid">
                            <div class="row mb-n-30px">
                                {% for product in all_product %}
                                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30px d-flex">
                                    <div class="product h-100 d-flex flex-column">
                                        <span class="badges">
                                            <span class="new">{{ product.condition }}</span>
                                        </span>
                                        <div class="thumb" style="width:250px; height:250px; overflow:hidden;">
                                            <a href="{% url 'single_product' product.id %}" class="image d-block w-100 h-100">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width:100%; height:100%; object-fit:cover; object-position:center;">
                                                <img src="{{ product.ex_image1.url }}" alt="hover {{ product.name }}" class="hover-image" style="width:100%; height:100%; object-fit:cover; object-position:center;">
                                            </a>
                                        </div>
                                        <div class="content flex-grow-1">
                                            <span class="category"><a href="#">{{ product.category.name }}</a></span>
                                            <h5 class="title"><a href="{% url 'single_product' product.id %}">{{ product.name }}</a></h5>
                                            <span class="price"><span class="new">৳{{ product.price }}</span></span>
                                        </div>
                                        <div class="actions mt-auto">
                                            <a href="{% url 'add_to_cart' product.id %}" class="action add-to-cart" title="Add To Cart"><i class="pe-7s-shopbag"></i></a>
                                            <button class="action wishlist" title="Wishlist" data-bs-toggle="modal" data-bs-target="#exampleModal-Wishlist"><i class="pe-7s-like"></i></button>
                                            <button class="action quickview" title="Quick view" data-link-action="quickview" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="pe-7s-look"></i></button>
                                            <button class="action compare" title="Compare" data-bs-toggle="modal" data-bs-target="#exampleModal-Compare"><i class="pe-7s-refresh-2"></i></button>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="tab-pane fade mb-n-30px" id="shop-list">
                            <div class="shop-list-wrapper mb-30px">
                                <div class="row">
                                    <div class="col-md-5 col-lg-5 col-xl-4 mb-lm-30px">
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="#" class="image">
                                                    <img src="{% static 'assets/images/product-image/1.webp' %}" alt="Product">
                                                    <img class="hover-image" src="{% static 'assets/images/product-image/1.webp' %}" alt="Product">
                                                </a>
                                                <span class="badges"><span class="new">New</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Add other product list items here as needed -->
                                </div>
                            </div>
                        </div>

                    </div> <!-- end tab-content -->
                </div> <!-- end shop-bottom-area -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div> <!-- end container -->
</div> <!-- end shop-category-area -->

{% endblock %}
